@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: #fafafa;
  --foreground: #111517;
  --input: #858585;
  --card: white;
}

.dark {
  --background: #202c37;
  --foreground: white;
  --input: white;
  --card: #2b3945;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  p span {
    @apply font-bold;
  }
}
